<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
    </head>
    <body>
        <div class="container"> <!--header-->
            <div class="item logo"><img class="logo" src={{url_for('static',filename='img/WEHIVE.png')}}></div>
            <div class="item sub-1">Brought to you by <span class="linuxchix"><br>LinuxChix</span></div>
            <div class="item sub-2">Let's Buzz</div>
            <div class="item join"><a href="/join" class="join_link">Let's Talk</a></div>
        </div> <!--header ends-->

        <div class="container-2">
            <div class="sub-container-1">
                
                {% block content %}{% endblock %}
                
                <div class="content-5"> <!--Footer-->
                    <div class="footer">
                        <div class="footer-content collab"><b>Collab with us</b></div>
                        <div class="link-1"><a class="footer-content link" href="https://github.com/linuxchix-dev"><b>Github</b></a></div>
                        <div class="link-1"><a class="footer-content link" href="https://github.com/linuxchix-dev"><b>FAQ</b></a></div>
                    </div>
                </div>

                <div class="content-4">
                    <div class="lc-logo">
                        <a href="https://www.linuxchix.org/"><img src={{url_for('static',filename='img/linuxchix.png')}} alt="LinuxChix logo"></a>
                    </div>
                </div>  <!--footer ends-->
            </div>            
        </div>
        
    </body>
</html>